<% @cocktails.each do |cocktail| %>
 <% if cocktail.photo? %>

<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @product.photo.path, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category"><%= @cocktail.name %></div>
  <div class="card-description">
  </div>
  <a class="card-link" href="#" ></a>
</div>

<% end  %>




  <%= cl_image_tag cocktail.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
  <%= cocktail.name %> | <%= link_to "Description", cocktail_path(cocktail)%>
